starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 8em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

footer{
  width: 100%;
  padding: 30px 0 0;
  bottom: 0; /*下に固定*/
  flex: 1;
  position: fixed;
  bottom: 0;
}

.para{
  color: #E5E5E5;
}

footer .btn{
  background-color: #E40914;
}

footer h5{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
}
