.dash-count{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5% 0px;
    margin: 1% 4%;
    text-align: center;
    font-size: 20px;
    font-family: 'Kosugi Maru', sans-serif;
}

.admin-image{
    background-image: url(admin.jpg);
    background-size: cover;
    filter: opacity(0.8)
  }

.admin-text{
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Sawarabi Mincho', sans-serif;
    color: #E5E5E5;
    padding: 9vw;
}

.admin-title{
    text-align: center;
    font-family: 'Sawarabi Mincho', sans-serif;
    color: #E5E5E5;
    font-weight: bold;
    background-color: gray !important;
    margin-bottom: 0;
}

.admin-item{
    text-align: center;
    font-weight: bold;
}