.welcome-title{
    color: #E40914;
    background-color: #131313;
    font-family: 'Sawarabi Gothic', sans-serif;
    width: 50%;
    text-align: center;
    margin: 5% auto;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    text-shadow: 1px 2px 3px #E5E5E5;
}

.icons{
    background-color:#E5E5E5;
  }

  .function{
    font-size: 3vw;
  }

  .btn-register{
    background-color:#131313;
    color:#E5E5E5;
    margin:5vw 42vw;
    font-size: 1.7vw;
    font-weight: bold;
  }

  .welcome-image{
    background-image: url(theater.jpg);
    background-size: cover;
    filter: opacity(0.8)
  }

  .welcome-text{
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Sawarabi Mincho', sans-serif;
    color: #E5E5E5;
    padding: 9vw ;
  }

  .welcome-movie{
    height: 15vw;
    width: 10vw;
  }